{{>partials/layout.header}}

<div class="jumbotron mt-3">
  <h3 class="display-6">Welcome</h3>
  <p class="lead">The authentic node boilerplate for web projects and APIs.</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/login" role="button">Go to login</a>
    <a href="https://getbootstrap.com/docs/5.0/examples/cheatsheet/" target="_blank"><button type="button" class="btn btn-link">Bootstrap cheatsheet</button></a>
    <a href="https://bootswatch.com/cyborg/" target="_blank"><button type="button" class="btn btn-link">Bootswatch Cyborg</button></a>
    <a href="https://www.amcharts.com/" target="_blank"><button type="button" class="btn btn-link">Amcharts</button></a>
  </p>
</div>

{{>partials/layout.footer}}