{{>partials/layout.header}}

<div class="container col-12 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-3">
      <img src="/img/nodejs-icon.svg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="90%" loading="lazy">
    </div>
    <div class="col-lg-9">
      <h1 class="display-5 fw-bold lh-1 mb-3">betx</h1>
      <p class="lead">The authentic node boilerplate for web projects and APIs.</p>
      <p>Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary btn-lg" href="/login" role="button">Go to login</a>
        <a href="https://getbootstrap.com/docs/5.0/examples/cheatsheet/" target="_blank"><button type="button" class="btn btn-link">Bootstrap cheatsheet</button></a>
        <a href="https://bootswatch.com/cyborg/" target="_blank"><button type="button" class="btn btn-link">Bootswatch Cyborg</button></a>
        <a href="https://www.amcharts.com/" target="_blank"><button type="button" class="btn btn-link">Amcharts</button></a>
      </div>
    </div>
  </div>
</div>

{{>partials/layout.footer}}