{{>partials/layout.header}}

<h1 class="mt-5">Matches</h1>

<div class="row">

  <div class="table-responsive mt-5">

    <table id="matchesTable" class="table table-primary table-hover" style="width:100%">
      <thead>
        <tr>
            <th>League</th>
            <th>Season</th>
            <th>Journey</th>
            <th>Local</th>
            <th>Local goals</th>
            <th>Visitor goals</th>
            <th>Visitor</th>
            <th>Result</th>
        </tr>
      </thead>
    </table>

  </div>

</div>

{{>partials/layout.footer}}

