{{>partials/layout.header}}

<!-- Teams page -->
<div id="teams-container" style="display:none;">
  <h1 class="mt-5">Teams</h1>
  <table id="datatable" class="table table-primary table-hover" style="width:100%">
    <thead>
      <tr>
          <th>Team</th>
          <th>League</th>
          <th>Num. Matches</th>
          <th>% Ties</th>
          <th>Max.</th>
          <th>Avg.</th>
          <th>Avg. Pond.</th>
      </tr>
    </thead>
  </table>
</div>

<!-- Team Page -->
<div id="team-container" style="display:none;">
  <h1 id="team-name" class="mt-5"></h1>
  <div class="row mt-5 mb-3">
    <div id="pie-chart" style="width: 50%; height: 300px;"></div>
    <div id="pie-chart-2" style="width: 50%; height: 300px;"></div>
  </div>
  <div class="row mt-5 mb-3">
    <div id="streaks-chart" style="width: 100%; height: 420px;"></div>
  </div>
  <div class="row mt-5 mb-3">
    <div id="heatmap" style="width: 100%; height: 720px;"></div>
  </div>
</div>


{{>partials/layout.footer}}

